__pycache__/
*.pt
*.pth
*.bin
*.safetensors
*.ckpt
*.checkpoint_epoch
question_classifier/
.venv
.venv311
src/test_load_squad.py
src/test.py
.cache/
.log
Thumbs.db
.DS_Store
.vscode/
*.py[cod]
test_trans.py